<configuration scan="true" debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/logDev/recruitment-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>D:/logDev/recruitment-api.%d{yyyy-MM-dd}.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="java.sql" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.hibernate.sql" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.hibernate.type" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="vn.co.huntermacdonald" level="INFO">
        <appender-ref ref="FILE" />
    </logger>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>